2025/07/5qrmO1Y9kJuQLPsH.json
{
  "active": true,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Last downloaded episode number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields": {
      "main": [
        [
          {
            "node": "Get videos to download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last downloaded episode number": {
      "main": [
        [
          {
            "node": "Get last Shin Chan videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videos to download": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "yt-dlp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last Shin Chan videos": {
      "main": [
        [
          {
            "node": "Extract fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-17T18:19:04.253Z",
  "id": "5qrmO1Y9kJuQLPsH",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Download Shin Chan",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -208,
        0
      ],
      "id": "c865af57-ab72-4517-b650-d6b41782e9a5",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67bf7f0b-be16-42bd-a84c-5d0ced8e95e7",
              "name": "id.videoId",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            },
            {
              "id": "5048d036-b098-4afa-9e37-d3dc74f9e052",
              "name": "snippet.title",
              "value": "={{ $json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "c517d9fb-4ffd-4a23-948d-1c828d00e325",
              "name": "snippet.publishedAt",
              "value": "={{ $json.snippet.publishedAt }}",
              "type": "string"
            },
            {
              "id": "d0a7f5c6-c1f2-4a5a-92e5-5f385858bac3",
              "name": "snippet.episode",
              "value": "={{ $json.snippet.title.match(/Episódio ([0-9]*)/)?.last() }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        0
      ],
      "id": "c42e71f5-028b-4281-a3d6-1088ff867f7a",
      "name": "Extract fields"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=yt-dlp --output \"%(title)s.%(ext)s\" --no-overwrites --continue --ignore-errors --embed-thumbnail --add-metadata -S res:1080,ext:mp4:m4a --recode mp4 -P \"/series/shin-chan\" https://www.youtube.com/watch?v={{ $json.id.videoId }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1008,
        0
      ],
      "id": "d5e80907-0ed7-4c98-bc62-c68849a3a937",
      "name": "yt-dlp"
    },
    {
      "parameters": {
        "command": "ls \"/series/shin-chan\" | grep -oE 'Episódio [0-9]+' | sed 's/Episódio//' | sort -n | tail -n 1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        16,
        0
      ],
      "id": "3809d4b0-e5e9-492f-8f6d-b408a8cfcc35",
      "name": "Last downloaded episode number",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "62810f43-e41d-4427-9dbd-0cabad9862be",
              "leftValue": "={{ $json.snippet.episode }}",
              "rightValue": "={{ $('Last downloaded episode number').item.json.stdout.toNumber() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        608,
        0
      ],
      "id": "e244dcb5-327c-4ccf-96a3-38fa28af365a",
      "name": "Get videos to download"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "snippet.episode"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        816,
        0
      ],
      "id": "94fb3497-243e-44a4-8ee3-ac45d606638c",
      "name": "Sort"
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 7,
        "filters": {
          "channelId": "UCObj1J7BoxnGJLE2V0VQ9tQ"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "55af8aaa-e487-4397-91b6-e3ce33f8ee78",
      "name": "Get last Shin Chan videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MQugWyBjZ5BJbmTw",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "afonsocraposo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-17T19:53:14.000Z",
  "versionId": "58fe1854-9a73-4c6d-91f9-a8c61d968fb9"
}