2025/07/nHfEESWX8gHcXvWB.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Last downloaded episode number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract fields": {
      "main": [
        [
          {
            "node": "Get videos to download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Last downloaded episode number": {
      "main": [
        [
          {
            "node": "Get last videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get videos to download": {
      "main": [
        [
          {
            "node": "Sort",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sort": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Last downloaded episode number",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "yt-dlp": {
      "main": [
        [
          {
            "node": "Move to destination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "yt-dlp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move to destination": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get last videos": {
      "main": [
        [
          {
            "node": "Extract fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-17T13:59:38.802Z",
  "id": "nHfEESWX8gHcXvWB",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Download Ryan airbnb series",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -224,
        -64
      ],
      "id": "cb1c2e2e-f69a-4189-855b-d123d1b58185",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67bf7f0b-be16-42bd-a84c-5d0ced8e95e7",
              "name": "id.videoId",
              "value": "={{ $json.id.videoId }}",
              "type": "string"
            },
            {
              "id": "5048d036-b098-4afa-9e37-d3dc74f9e052",
              "name": "snippet.title",
              "value": "={{ $json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "c517d9fb-4ffd-4a23-948d-1c828d00e325",
              "name": "snippet.publishedAt",
              "value": "={{ $json.snippet.publishedAt }}",
              "type": "string"
            },
            {
              "id": "d0a7f5c6-c1f2-4a5a-92e5-5f385858bac3",
              "name": "snippet.day",
              "value": "={{ $json.snippet.title.match(/Day ([0-9]*)/)?.last() || 50 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -160
      ],
      "id": "28c0374b-e37f-4833-9812-e8a340abd4c3",
      "name": "Extract fields"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=yt-dlp --output \"I Tried the Top 50 Airbnbs in America E{{$json.snippet.day.toString().padStart(3, '0')}}.%(ext)s\" --continue --embed-thumbnail --add-metadata -S res:1080,ext:mp4:m4a --recode mp4 -P \"/tmp/I Tried the Top 50 Airbnbs in America by Ryan Trahan\" https://www.youtube.com/watch?v={{ $json.id.videoId }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1344,
        -240
      ],
      "id": "f32760bf-fab9-4b2e-99ee-1dcafc2c7da8",
      "name": "yt-dlp"
    },
    {
      "parameters": {
        "command": "ls \"/youtube/I Tried the Top 50 Airbnbs in America by Ryan Trahan\" | grep -oE 'E[0-9]+' | sed 's/E//' | sort -n | tail -n 1"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        0,
        -160
      ],
      "id": "44d733bf-2f60-47c2-9922-e86535af3b4d",
      "name": "Last downloaded episode number",
      "executeOnce": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c0be28-df1c-4ce3-9295-a1b721f71aa9",
              "leftValue": "={{ $json.snippet.title }}",
              "rightValue": "50 States in 50 Days",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "62810f43-e41d-4427-9dbd-0cabad9862be",
              "leftValue": "={{ $json.snippet.day }}",
              "rightValue": "={{ $('Last downloaded episode number').item.json.stdout.toNumber() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        672,
        -160
      ],
      "id": "54af35dd-be78-4dd0-b5b4-fd9929f7ee77",
      "name": "Get videos to download"
    },
    {
      "parameters": {
        "sortFieldsUi": {
          "sortField": [
            {
              "fieldName": "snippet.day"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.sort",
      "typeVersion": 1,
      "position": [
        896,
        -160
      ],
      "id": "3ee8d38f-673f-4f6e-bcb3-285e5616e457",
      "name": "Sort"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -256
      ],
      "id": "118663ef-ffcc-42d8-b61a-09b678f21b5d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "command": "find \"/tmp/I Tried the Top 50 Airbnbs in America by Ryan Trahan\" -type f -name \"*.mp4\" -exec mv {} \"/youtube/I Tried the Top 50 Airbnbs in America by Ryan Trahan\" \\+"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1568,
        -160
      ],
      "id": "bcad66af-b5e6-44fc-82c6-1d072a52b3b5",
      "name": "Move to destination"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1120,
        -160
      ],
      "id": "268a075b-7c36-475e-a738-a4035cf7f772",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "video",
        "limit": 7,
        "filters": {
          "channelId": "UCnmGIkw-KdI0W5siakKPKog"
        },
        "options": {
          "order": "date"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        224,
        -160
      ],
      "id": "51a018cf-5234-4b83-83fa-4b14c4ff0094",
      "name": "Get last videos",
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "MQugWyBjZ5BJbmTw",
          "name": "YouTube account"
        }
      }
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "afonsocraposo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "ga66cR631VA0DsyT"
  },
  "shared": [
    {
      "updatedAt": "2025-07-17T13:59:38.812Z",
      "createdAt": "2025-07-17T13:59:38.812Z",
      "role": "workflow:owner",
      "workflowId": "nHfEESWX8gHcXvWB",
      "projectId": "fuqA7U1sSqEJpbZd"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-03T15:32:06.000Z",
  "versionId": "e63bd94a-523a-45b6-8358-f5bf60bd1575"
}