2025/12/DIdLsSQR9oJksz6A.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set project as processing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set project as processing": {
      "main": [
        [
          {
            "node": "Get file assets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file assets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-22T16:31:12.543Z",
  "id": "DIdLsSQR9oJksz6A",
  "isArchived": true,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate video",
  "nodes": [
    {
      "parameters": {
        "path": "0df83499-6a17-4610-83e2-ff44071aafab",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "d939e7d7-55cd-49f8-b21b-328b96af7a0d",
      "name": "Webhook",
      "webhookId": "0df83499-6a17-4610-83e2-ff44071aafab"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cd72b8f3-15a4-452b-ad85-4ba9b59a83b8",
              "leftValue": "={{ $json.query.project_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "dd136177-2407-4e9f-8b99-c45c531e6757",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "Project ID is null"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        416,
        96
      ],
      "id": "0df57c74-48bf-441f-8bf1-eab4ebbc7e01",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "projects",
          "mode": "list",
          "cachedResultName": "projects"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "processing",
            "id": "={{ $json.query.project_id }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "user_id",
              "displayName": "user_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "options",
              "canBeUsedToMatch": true,
              "options": [
                {
                  "name": "failed",
                  "value": "failed"
                },
                {
                  "name": "completed",
                  "value": "completed"
                },
                {
                  "name": "processing",
                  "value": "processing"
                },
                {
                  "name": "pending",
                  "value": "pending"
                }
              ],
              "removed": false
            },
            {
              "id": "config",
              "displayName": "config",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "object",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        416,
        -96
      ],
      "id": "d8bc2272-1fe8-4561-8180-01ef2ab73ad9",
      "name": "Set project as processing",
      "credentials": {
        "postgres": {
          "id": "I77jnnnjsqq857Pj",
          "name": "Saudad (Dev)"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "assets",
          "mode": "list",
          "cachedResultName": "assets"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "project_id",
              "value": "={{ $('Webhook').item.json.query.project_id }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "order"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        624,
        -96
      ],
      "id": "f2ed43cc-c211-4d12-b1ce-427ed5cc20e3",
      "name": "Get file assets",
      "credentials": {
        "postgres": {
          "id": "I77jnnnjsqq857Pj",
          "name": "Saudad (Dev)"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        832,
        -96
      ],
      "id": "41252948-7166-4ac9-b757-c79b99b173d0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        1120,
        -32
      ],
      "id": "7412f4b6-b55d-4926-8bd6-9d59b28b5034"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        1328,
        -32
      ],
      "id": "bd065961-b514-4820-b10a-a08c0dab4ea7",
      "name": "Execute Workflow"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "afonsocraposo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-22T16:31:12.551Z",
      "createdAt": "2025-12-22T16:31:12.551Z",
      "role": "workflow:owner",
      "workflowId": "DIdLsSQR9oJksz6A",
      "projectId": "fuqA7U1sSqEJpbZd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-22T19:04:52.000Z",
  "versionId": "4cbe58a2-ae8c-4001-9929-0bf74bcf1a5c"
}