2025/12/ymHKSIrd7q7oLpke.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload output video": {
      "main": [
        []
      ]
    },
    "Upload input image": {
      "main": [
        [
          {
            "node": "Generate video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filename": {
      "main": [
        [
          {
            "node": "Upload input image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate video": {
      "main": [
        [
          {
            "node": "Check generation status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check generation status": {
      "main": [
        [
          {
            "node": "Is Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate request id": {
      "main": [
        [
          {
            "node": "Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 10s": {
      "main": [
        [
          {
            "node": "Check generation status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Ready?": {
      "main": [
        [
          {
            "node": "Fetch Result",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 10s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Result": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Generate request id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Upload output video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-12-20T10:20:43.886Z",
  "id": "ymHKSIrd7q7oLpke",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Generate AI Life Video",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Upload photos",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Photo",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".jpg, .png, .jpeg",
              "requiredField": true
            },
            {
              "fieldLabel": "Note"
            },
            {
              "fieldLabel": "Format",
              "fieldType": "dropdown",
              "defaultValue": "9:16",
              "fieldOptions": {
                "values": [
                  {
                    "option": "9:16"
                  },
                  {
                    "option": "16:9"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Duration",
              "fieldType": "dropdown",
              "defaultValue": "4s",
              "fieldOptions": {
                "values": [
                  {
                    "option": "4s"
                  },
                  {
                    "option": "6s"
                  },
                  {
                    "option": "8s"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -368,
        -248
      ],
      "id": "3017054b-6313-477a-9473-c8ce75385ad7",
      "name": "On form submission",
      "webhookId": "d16f6d5d-147e-4398-ab04-9277bea7fd2f"
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "afonsocraposo",
        "fileName": "=life-ai/output/{{$('Filename').item.json.filename}}.{{ $binary.data.fileExtension }}",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        1872,
        -368
      ],
      "id": "63422c7d-57e1-43c5-839b-f40b0af62970",
      "name": "Upload output video",
      "credentials": {
        "s3": {
          "id": "W3MJn0cHyQWwqW1E",
          "name": "Hetzner"
        }
      }
    },
    {
      "parameters": {
        "operation": "upload",
        "bucketName": "afonsocraposo",
        "fileName": "=life-ai/input/{{ $('Filename').item.json.filenameImage }}",
        "binaryPropertyName": "={{ $('Split Out').item.binary.Photo }}",
        "additionalFields": {
          "acl": "publicRead"
        }
      },
      "type": "n8n-nodes-base.s3",
      "typeVersion": 1,
      "position": [
        528,
        -248
      ],
      "id": "14744101-29e8-442b-a88a-d05db49574d8",
      "name": "Upload input image",
      "credentials": {
        "s3": {
          "id": "W3MJn0cHyQWwqW1E",
          "name": "Hetzner"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"filenameImage\": {{ $('Generate request id').item.json.requestId }}.{{$('Split Out').item.binary.Photo.fileExtension}},\n\"filename\": {{ $('Generate request id').item.json.requestId }} }}\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -248
      ],
      "id": "ad2ad320-766a-43c7-b6b2-5ad689ab4fb5",
      "name": "Filename"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://queue.fal.run/fal-ai/veo3.1/fast/image-to-video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"Animate this image with subtle, realistic motion while preserving the subject’s identity, facial structure, age, clothing, and composition exactly as in the source image. Add minimal natural movement only: gentle blinking, soft breathing, slight head or posture movement. Expressions remain calm and neutral. Maintain the original lighting, color tones, and texture. Do not alter faces, do not add or remove elements, do not modernize. No exaggerated motion, no camera movement. The result should feel like a quiet moment briefly coming to life. Bear in mind that: {{ $('On form submission').item.json.Note }}\",\n  \"image_url\": \"https://nbg1.your-objectstorage.com/afonsocraposo/life-ai/input/{{ $('Filename').item.json.filenameImage}}\",\n  \"aspect_ratio\": \"{{ $('On form submission').item.json.Format }}\",\n  \"duration\": \"{{ $('On form submission').item.json.Duration }}\",\n  \"auto_fix\": true,\n  \"generate_audio\": false\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        752,
        -248
      ],
      "id": "83b7c762-73d5-466f-9e40-c4129119adac",
      "name": "Generate video",
      "credentials": {
        "httpBearerAuth": {
          "id": "cTXAUUTqeDV0q5qf",
          "name": "veo3api"
        },
        "httpHeaderAuth": {
          "id": "GIUCQjo21bBuPvug",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Generate video').item.json.status_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        976,
        -248
      ],
      "id": "d147bf52-778c-41a6-9878-fb73dfd0169d",
      "name": "Check generation status",
      "credentials": {
        "httpBearerAuth": {
          "id": "cTXAUUTqeDV0q5qf",
          "name": "veo3api"
        },
        "httpHeaderAuth": {
          "id": "GIUCQjo21bBuPvug",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "action": "generate",
        "dataPropertyName": "requestId"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        80,
        -248
      ],
      "id": "500639f1-b984-4c35-8dff-7a7556574df1",
      "name": "Generate request id"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1424,
        -152
      ],
      "id": "3181999d-8f6a-4a98-941e-bf99f0f79667",
      "name": "Wait 10s",
      "webhookId": "15290506-f351-49d1-b6e7-a22e1affdb45"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "ac50759b-e2f3-4efd-a2af-f28b7d209b45",
              "operator": {
                "name": "filter.operator.equals",
                "type": "string",
                "operation": "equals"
              },
              "leftValue": "={{ $json.status }}",
              "rightValue": "COMPLETED"
            }
          ]
        },
        "options": {}
      },
      "id": "687faf70-c89b-4809-ba4c-6415ad102df4",
      "name": "Is Ready?",
      "type": "n8n-nodes-base.if",
      "position": [
        1200,
        -320
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "url": "={{ $json.response_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "0b206585-30e0-4301-b9bf-a90a23e2da7b",
      "name": "Fetch Result",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1424,
        -368
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GIUCQjo21bBuPvug",
          "name": "fal.ai"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "$binary",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        -248
      ],
      "id": "5d64251b-27c8-478e-ac54-efa4a2aaaae1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.video.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1648,
        -368
      ],
      "id": "6803be0c-563f-4d3e-aaab-4dd1314069e8",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "repo_name": "n8n-workflows",
  "repo_owner": "afonsocraposo",
  "repo_path": "",
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "updatedAt": "2025-12-20T10:20:43.900Z",
      "createdAt": "2025-12-20T10:20:43.900Z",
      "role": "workflow:owner",
      "workflowId": "ymHKSIrd7q7oLpke",
      "projectId": "fuqA7U1sSqEJpbZd"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-12-21T10:31:11.745Z",
  "versionId": "6d2c2a0a-add5-4c73-a1d5-20f823d566fd"
}